* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background: linear-gradient(
    to left top,
    white 38%,
    rgb(231, 207, 223) 68%,
    rgb(83, 149, 187) 90%
  );
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  padding: 30px;
}
.contenido {
  box-shadow: 7px 7px 15px #592a08;
  overflow: hidden;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  width: 60%;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  width: auto;
  margin: auto;
  border-bottom: 2px solid black;
}

#sobreMi {
  text-align: justify;
  padding: 30px;
}

.contenido-informacion {
  padding: 30px;
  gap: 30px;
}

.info {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: center;
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 2;
}

.info section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.info img {
  height: 32px;
  width: 40px;
}

.info p,
.info a {
  display: inline-block;
  margin: 0;
  text-align: left;
}
.info .section {
  width: 100%;
  margin: 20px;
}
strong {
  margin: 0;
}

h2 {
  border-bottom: 1px solid black;
  width: 60%;
  text-align: left;
}

.ico-h2 {
  height: 40px;
  width: 40px;
}

.skills {
  display: flex;
  flex-direction: column;
}

.info .lista,
.skills .lista,
.jobs .lista {
  padding: 10px;
  text-align: left;
}

.lista li {
  list-style: none;
}
.info .lista ol li,
.skills .lista ol li,
.jobs .lista ol li {
  list-style-image: url(images/icons/listas.png);
  list-style-position: inside;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
}

.jobs {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-column-end: 3;
}

.perfil :hover {
  color: rgb(118, 56, 128);
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #592a08;
}

@media (min-width: 350px) {
  #header p {
    font-size: 1em;
  }

  #fotoPerfil {
    border-radius: 50%;
    border: 3px solid rgb(83, 149, 187);
    margin-left: 25px;
    height: 90px;
    width: 90px;
    margin-top: 0;
  }

  h1 {
    align-items: start;
    font-size: 1em;
    margin: 0;
  }
}

@media (min-width: 750px) {
  #header p {
    font-style: oblique;
    font-size: 2em;
  }

  #fotoPerfil {
    border-radius: 50%;
    border: 3px solid rgb(83, 149, 187);
    margin-left: 25px;
    height: 180px;
    width: 160px;
    margin-top: 0;
  }

  h1 {
    align-items: start;
    font-size: 3em;
    margin: 0;
  }

  .contenido-informacion {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .header-info {
    display: flex;
    align-items: center;
  }

  .info .section {
    margin: 20px;
  }
}

@media (min-width: 1024px) {
  #header p {
    font-style: oblique;
    font-size: 2em;
  }

  #fotoPerfil {
    border-radius: 50%;
    background-color: rgb(231, 207, 223);
    margin-left: 25px;
    height: 180px;
    width: 160px;
    margin-top: 0;
  }

  h1 {
    align-items: start;
    font-size: 3em;
    margin: 0;
  }

  .header-info {
    display: flex;
    align-items: center;
  }

  .info .section {
    margin: 20px;
  }
  .contenido-informacion {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
